<h1>Rediger påmelding</h1>
<%= render 'form' %>

<div class="addFields">
	<h2>Felt</h2>

	<%= render "add_element" %>

	<ul id="fields" >
		<% if @event.fields == nil  %>

			<p class="well" >Det er ikke laget noen felt enda.</p>

		<% else %>

			<% @event.fields.each do |field| %>
				<li><%= field.field_label %></li>	
			<% end %>

		<% end %>
	</ul>

	<%= render "add_element" %>


  <% #foreach($thisForm->getPopulatedFields($thisForm->id)as $field): %>
    <% #newField($thisForm->id, true, $field); %>
    <% #end %> 