<h1>Rediger påmelding</h1>
<%= render 'form' %>

<div class="addFields">
	<h2>Felt</h2>

	<%= render "add_element" %>

	<ol id="fields" >
	<!-- <table class="table table-striped" id="fields" ><tbody> -->
			
		
		<% if @event.fields == nil  %>

			<p class="well" >Det er ikke laget noen felt enda.</p>

		<% else %>

			<% @event.fields.each do |field| %>

				<%= render :partial => "field-form-li", :locals => { :field => field } %>

					 
			<% end %>

		<% end %>
		<!-- </tbody></table> -->
	</ol>

	<%= render "add_element" %>


  <% #foreach($thisForm->getPopulatedFields($thisForm->id)as $field): %>
    <% #newField($thisForm->id, true, $field); %>
    <% #end %> 

<div class="modal" id="delete-modal" style="display:none">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>Er du sikker på du vil slette elementet?</p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Avbryt</a>
    <a href="#delete-confirm" class="btn btn-primary delete-confirm">Slett element</a>
  </div>
</div>